<ion-view view-title="Tin Lành Orange Channel">
  <ion-content>

      <div class="row" ng-repeat="video in videos">
        <div class="col-sm-12 col-md-12">
        <a class="item" href="#/app/video/{{video.id.videoId}}">
          <img ng-if="video.snippet.thumbnails.default.url" class="img-responsive pull-left" ng-src="{{video.snippet.thumbnails.default.url}}">
          <h2>{{ video.snippet.title | limitTo: 75 }}{{video.snippet.title.length > 75 ? '...' : ''}}</h2>
          <p><span class="by">By: Tin Lành Orange</span>
              <mydate class="mydate">{{video.snippet.publishedAt | date:'yyyy-MM-dd'}}</mydate></p>
        </a>
        </div>
      </div>

  </ion-content>
</ion-view>