<ion-view view-title="Tin Lành Orange Channel">

  <ion-content>

    <div class="list list-inset">
      <form ng-submit="search()" ng-controller="VideoChannelCtrl">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" ng-model="q" name="q" placeholder="Tin Lành Orange Videos ..." />
      </label>
      </form>
    </div>

    <div class="list card">
      <div class="item item-body">
          <div class="embed-responsive embed-responsive-16by9 video-wrapper">
            <youtube-video class="embed-responsive-item" video-id="mainVideoId"></youtube-video>
          </div>
      </div>
    </div>

    <!--div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-android-funnel placeholder-icon"></i>
        <input type="text" ng-model="searchString" placeholder="Filter you searching ..." />
      </label>
    </div-->

    <div class="row-fluid" ng-repeat="video in videos | filter:searchString">
      <a class="item" href="#/app/video/{{video.id.videoId}}">
        <img ng-if="video.snippet.thumbnails.default.url" class="img-responsive pull-left" ng-src="{{video.snippet.thumbnails.default.url}}">
        <h2>{{video.snippet.title | limitTo: 75}}{{video.snippet.title.length > 75 ? '...' : ''}}</h2>
        <p class="pull-left"><span class="by">By: Tin Lành Orange</span>
          <br><mydate class="mydate">{{video.snippet.publishedAt | date:'MMM d, y h:mm:ss a'}}</mydate></p>
      </a>
    </div>

  </ion-content>
</ion-view>