/* Empty. Add your own CSS if you like */
.menu-icon{
	padding: 0px 5px 0px 0px;
}
.text-justify {
  text-align: justify;
}

img{padding: 5px 15px;}

p {word-wrap:break-word;}

.video-title{
  max-width:200px; /* Customise it accordingly */
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.9em;
}
.by, .mydate{font-size: 0.9em;}
.bar-header {
   height: 50px; /*just an example*/
}
.bar-header .title {}
.has-header {}